/* line 3, ../sass/header.scss */
div.header_wrap {
  position: relative;
  border-bottom: 1px dashed #b9b8a6;
  z-index: 99999;
}
/* line 8, ../sass/header.scss */
div.header_wrap nav.sub_nav {
  display: none;
  width: 100%;
  height: 105px;
  background: url("../images/subnav/bg_shadow.png") no-repeat;
  background-position: center;
  position: absolute;
  z-index: 99999;
  /*wedding次選單*/
}
/* line 17, ../sass/header.scss */
div.header_wrap nav.sub_nav div.bg_color {
  background-color: #faf8f3;
  width: 100%;
  height: 98px;
}
/* line 24, ../sass/header.scss */
div.header_wrap nav.sub_nav ul.sub_nav_wedding_ul, div.header_wrap nav.sub_nav ul.sub_nav_jewelry_ul {
  display: none;
  margin-left: 0;
  *width: 800px;
  *margin: 0 auto;
  text-align: center;
}
/* line 31, ../sass/header.scss */
div.header_wrap nav.sub_nav ul.sub_nav_wedding_ul li, div.header_wrap nav.sub_nav ul.sub_nav_jewelry_ul li {
  width: 144px;
  display: inline-block;
  border-right: 1px dotted #d2c7a5;
  height: 98px;
  cursor: pointer;
  line-height: 38px;
  font-size: .8em;
  margin-left: -4px;
  *display: block;
  *float: left;
}
/* line 43, ../sass/header.scss */
div.header_wrap nav.sub_nav ul.sub_nav_wedding_ul li.first, div.header_wrap nav.sub_nav ul.sub_nav_jewelry_ul li.first {
  border-left: 1px dotted #d2c7a5;
}
/* line 47, ../sass/header.scss */
div.header_wrap nav.sub_nav ul.sub_nav_wedding_ul li:hover, div.header_wrap nav.sub_nav ul.sub_nav_jewelry_ul li:hover {
  background: url("../images/subnav/bg.png") no-repeat;
}
/* line 51, ../sass/header.scss */
div.header_wrap nav.sub_nav ul.sub_nav_wedding_ul li a, div.header_wrap nav.sub_nav ul.sub_nav_jewelry_ul li a {
  color: #c6bc92;
  text-decoration: none;
}
/* line 55, ../sass/header.scss */
div.header_wrap nav.sub_nav ul.sub_nav_wedding_ul li a img, div.header_wrap nav.sub_nav ul.sub_nav_jewelry_ul li a img {
  display: block;
  margin: 10px auto 0 auto;
}
/* line 68, ../sass/header.scss */
div.header_wrap header.header {
  width: 1024px;
  margin: 10px auto 0 auto;
  position: relative;
  /*主導覽列*/
  /* 麵包屑 */
}
/* line 73, ../sass/header.scss */
div.header_wrap header.header div.logo {
  width: 140px;
  margin: 0 auto;
}
/* line 79, ../sass/header.scss */
div.header_wrap header.header nav.main_nav {
  margin-top: 10px;
}
/* line 83, ../sass/header.scss */
div.header_wrap header.header nav.main_nav ul.main_nav_ul {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 30px;
}
/* line 88, ../sass/header.scss */
div.header_wrap header.header nav.main_nav ul.main_nav_ul li {
  position: relative;
  display: inline-block;
  width: 135px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  font-size: .8em;
  *float: left;
}
/* line 98, ../sass/header.scss */
div.header_wrap header.header nav.main_nav ul.main_nav_ul li img.d_line {
  float: right;
  position: relative;
  bottom: -8px;
  *position: absolute;
  *right: 0;
  *bottom: 10px;
}
/* line 108, ../sass/header.scss */
div.header_wrap header.header nav.main_nav ul.main_nav_ul li a {
  color: #c6bc92;
  cursor: pointer;
  text-decoration: none;
}
/* line 113, ../sass/header.scss */
div.header_wrap header.header nav.main_nav ul.main_nav_ul li a img.item_icon {
  position: relative;
  display: inline-block;
  margin-right: 5px;
  top: -2px;
}
/* line 120, ../sass/header.scss */
div.header_wrap header.header nav.main_nav ul.main_nav_ul li a:hover {
  color: #931f44;
}
/* line 125, ../sass/header.scss */
div.header_wrap header.header nav.main_nav ul.main_nav_ul li img.hinter {
  position: absolute;
  left: 40px;
  top: 25px;
  display: none;
  z-index: 999999;
}
/* line 134, ../sass/header.scss */
div.header_wrap header.header nav.main_nav ul.main_nav_ul li.on a {
  color: #ebb7b9;
}
/* line 138, ../sass/header.scss */
div.header_wrap header.header nav.main_nav ul.main_nav_ul li.on img.hinter {
  display: block;
}
/* line 150, ../sass/header.scss */
div.header_wrap header.header div.page_breadcrumb {
  position: absolute;
  right: 0;
  top: 100px;
  z-index: 99;
  font-size: .85em;
}
/* line 157, ../sass/header.scss */
div.header_wrap header.header div.page_breadcrumb a {
  color: #c6bc92;
}
