/* line 146, nav/*.png */
.nav-sprite, div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_story a, div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_news a, div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_wedding a, div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_jewelry a, div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_knowledge a, div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_locations a, div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_contact a {
  background: url('../images/nav-sd87ee67c50.png') no-repeat;
}

/* line 5, ../sass/header.scss */
div.header_wrap {
  position: relative;
  border-bottom: 1px dashed #b9b8a6;
  *height: 97px;
  z-index: 99999;
}
/* line 11, ../sass/header.scss */
div.header_wrap nav.sub_nav {
  display: none;
  width: 100%;
  height: 105px;
  background: url("../images/subnav/bg_shadow.png") no-repeat;
  background-position: center;
  position: absolute;
  top: 100px;
  *top: 98px;
  z-index: 99999;
  /*wedding次選單*/
}
/* line 22, ../sass/header.scss */
div.header_wrap nav.sub_nav .hinter {
  position: absolute;
  left: 50%;
  margin-top: -4px;
}
/* line 28, ../sass/header.scss */
div.header_wrap nav.sub_nav div.bg_color {
  background-color: #faf8f3;
  width: 100%;
  height: 98px;
}
/* line 35, ../sass/header.scss */
div.header_wrap nav.sub_nav ul.sub_nav_wedding_ul, div.header_wrap nav.sub_nav ul.sub_nav_jewelry_ul {
  display: none;
  margin-left: 0;
  *width: 710px;
  *margin: 0 auto;
  text-align: center;
}
/* line 43, ../sass/header.scss */
div.header_wrap nav.sub_nav ul.sub_nav_wedding_ul li, div.header_wrap nav.sub_nav ul.sub_nav_jewelry_ul li {
  width: 144px;
  display: inline-block;
  border-right: 1px dotted #d2c7a5;
  height: 98px;
  cursor: pointer;
  line-height: 38px;
  font-size: .8em;
  margin-left: -4px;
  *display: block;
  *float: left;
}
/* line 55, ../sass/header.scss */
div.header_wrap nav.sub_nav ul.sub_nav_wedding_ul li.first, div.header_wrap nav.sub_nav ul.sub_nav_jewelry_ul li.first {
  border-left: 1px dotted #d2c7a5;
}
/* line 59, ../sass/header.scss */
div.header_wrap nav.sub_nav ul.sub_nav_wedding_ul li:hover, div.header_wrap nav.sub_nav ul.sub_nav_jewelry_ul li:hover {
  background: url("../images/subnav/bg.png") no-repeat;
}
/* line 63, ../sass/header.scss */
div.header_wrap nav.sub_nav ul.sub_nav_wedding_ul li a, div.header_wrap nav.sub_nav ul.sub_nav_jewelry_ul li a {
  color: #c6bc92;
  text-decoration: none;
}
/* line 67, ../sass/header.scss */
div.header_wrap nav.sub_nav ul.sub_nav_wedding_ul li a img, div.header_wrap nav.sub_nav ul.sub_nav_jewelry_ul li a img {
  display: block;
  margin: 10px auto 0 auto;
}
/* line 80, ../sass/header.scss */
div.header_wrap header.header {
  width: 1024px;
  margin: 0 auto;
  padding-top: 10px;
  position: relative;
  /*主導覽列*/
  /* 麵包屑 */
}
/* line 86, ../sass/header.scss */
div.header_wrap header.header div.logo {
  width: 140px;
  margin: 0 auto;
}
/* line 90, ../sass/header.scss */
div.header_wrap header.header div.logo h1 {
  width: 140px;
  height: 45px;
  margin: 0;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/logo_dewelry.png?1377916756');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* line 96, ../sass/header.scss */
div.header_wrap header.header div.logo h1 a {
  display: block;
  width: 140px;
  height: 45px;
}
/* line 105, ../sass/header.scss */
div.header_wrap header.header nav.main_nav {
  margin-top: 10px;
}
/* line 109, ../sass/header.scss */
div.header_wrap header.header nav.main_nav ul.main_nav_ul {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 30px;
}
/* line 114, ../sass/header.scss */
div.header_wrap header.header nav.main_nav ul.main_nav_ul li {
  position: relative;
  display: inline-block;
  width: 135px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  font-size: .8em;
  *float: left;
}
/* line 124, ../sass/header.scss */
div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_story a {
  width: 101px;
  background-position: 0 -377px;
}
/* line 43, ../../../../Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_story a:hover, div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_story a.story_hover, div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_story a.story-hover {
  background-position: 0 -348px;
}
/* line 129, ../sass/header.scss */
div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_news a {
  width: 94px;
  background-position: 0 -319px;
}
/* line 43, ../../../../Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_news a:hover, div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_news a.news_hover, div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_news a.news-hover {
  background-position: 0 -290px;
}
/* line 134, ../sass/header.scss */
div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_wedding a {
  width: 106px;
  background-position: 0 -145px;
}
/* line 43, ../../../../Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_wedding a:hover, div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_wedding a.wedding_hover, div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_wedding a.wedding-hover {
  background-position: 0 -116px;
}
/* line 139, ../sass/header.scss */
div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_jewelry a {
  width: 101px;
  background-position: 0 -203px;
}
/* line 43, ../../../../Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_jewelry a:hover, div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_jewelry a.jewelry_hover, div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_jewelry a.jewelry-hover {
  background-position: 0 -174px;
}
/* line 144, ../sass/header.scss */
div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_story a {
  width: 101px;
  background-position: 0 -377px;
}
/* line 43, ../../../../Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_story a:hover, div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_story a.story_hover, div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_story a.story-hover {
  background-position: 0 -348px;
}
/* line 149, ../sass/header.scss */
div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_knowledge a {
  width: 123px;
  background-position: 0 -29px;
}
/* line 43, ../../../../Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_knowledge a:hover, div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_knowledge a.knowledge_hover, div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_knowledge a.knowledge-hover {
  background-position: 0 0;
}
/* line 154, ../sass/header.scss */
div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_locations a {
  width: 115px;
  background-position: 0 -87px;
}
/* line 43, ../../../../Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_locations a:hover, div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_locations a.locations_hover, div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_locations a.locations-hover {
  background-position: 0 -58px;
}
/* line 159, ../sass/header.scss */
div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_contact a {
  width: 114px;
  background-position: 0 -261px;
}
/* line 43, ../../../../Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_contact a:hover, div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_contact a.contact_hover, div.header_wrap header.header nav.main_nav ul.main_nav_ul li.item_contact a.contact-hover {
  background-position: 0 -232px;
}
/* line 164, ../sass/header.scss */
div.header_wrap header.header nav.main_nav ul.main_nav_ul li img.d_line {
  float: right;
  position: relative;
  bottom: -8px;
  *position: absolute;
  *right: 0;
  *bottom: 10px;
}
/* line 174, ../sass/header.scss */
div.header_wrap header.header nav.main_nav ul.main_nav_ul li a {
  height: 29px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  *display: block;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}
/* line 182, ../sass/header.scss */
div.header_wrap header.header nav.main_nav ul.main_nav_ul li a img.item_icon {
  position: relative;
  display: inline-block;
  margin-right: 5px;
  top: -2px;
}
/* line 191, ../sass/header.scss */
div.header_wrap header.header nav.main_nav ul.main_nav_ul li img.hinter {
  position: absolute;
  left: 40px;
  top: 25px;
  display: none;
  z-index: 999999;
}
/* line 201, ../sass/header.scss */
div.header_wrap header.header nav.main_nav ul.main_nav_ul li.on img.hinter {
  display: block;
}
/* line 213, ../sass/header.scss */
div.header_wrap header.header div.page_breadcrumb {
  position: absolute;
  right: 0;
  top: 120px;
  z-index: 99;
  font-size: .85em;
  color: #c6bc92;
}
/* line 221, ../sass/header.scss */
div.header_wrap header.header div.page_breadcrumb a {
  color: #c6bc92;
}
