/* line 1, ../sass/index.scss */
.main {
  margin-bottom: 0;
}

/* line 5, ../sass/index.scss */
div.all_vs {
  width: 1024px;
  position: relative;
  /*大張輪播圖*/
  /*小張輪播圖*/
}
/* line 10, ../sass/index.scss */
div.all_vs .slideshow {
  width: 1024px;
  height: 480px;
}
/* line 14, ../sass/index.scss */
div.all_vs .slideshow img {
  width: 1024px;
  height: 480px;
  padding: 0;
}
/* line 22, ../sass/index.scss */
div.all_vs #nav {
  position: absolute;
  margin-left: 0;
  width: auto;
  overflow: hidden;
  z-index: 99999;
  bottom: 30px;
  right: 33px;
}
/* line 31, ../sass/index.scss */
div.all_vs #nav li {
  width: 48px;
  display: inline-block;
  /*margin: 8px;*/
  margin-right: 3px;
  list-style: none;
  padding: 1px;
  border: 1px solid #b09873;
  height: 23px;
}
/* line 42, ../sass/index.scss */
div.all_vs #nav a {
  width: 48px;
  display: block;
}
/* line 46, ../sass/index.scss */
div.all_vs #nav a:focus {
  outline: none;
}
/* line 51, ../sass/index.scss */
div.all_vs #nav li.activeSlide, div.all_vs #nav li:hover {
  border: 2px solid #b09873;
  width: 48px;
  height: 23px;
  overflow: hidden;
  padding: 0px;
}
/* line 59, ../sass/index.scss */
div.all_vs #nav img {
  border: none;
  display: block;
  margin: 0;
}

/*連結按鈕*/
/* line 68, ../sass/index.scss */
ul.link_button {
  position: relative;
  width: 941px;
  height: 94px;
  margin: -35px auto 0 auto;
  z-index: 999999;
  background: url("../images/link_bg.png") no-repeat;
  line-height: 88px;
  margin-bottom: 50px;
}
/* line 77, ../sass/index.scss */
ul.link_button li {
  list-style: none;
  display: inline-block;
  *display: block;
  *float: left;
  width: 234px;
  border-right: 1px dashed #b8b8b8;
}
/* line 85, ../sass/index.scss */
ul.link_button li:nth-last-child(1) {
  border-right: 0;
}
/* line 89, ../sass/index.scss */
ul.link_button li button {
  /*link區第一個按鈕*/
  /*link區第二個按鈕*/
  /*link區第三個按鈕*/
  /*link區第四個按鈕*/
}
/* line 92, ../sass/index.scss */
ul.link_button li button.button_1 {
  position: relative;
  width: 234px;
  height: 79px;
  border: none;
  background: none;
  background-image: url("../images/link_button_1.jpg");
  background-repeat: no-repeat;
  background-position: top;
}
/* line 102, ../sass/index.scss */
ul.link_button li button.button_1:hover {
  background-position: bottom;
}
/* line 108, ../sass/index.scss */
ul.link_button li button.button_2 {
  position: relative;
  width: 234px;
  height: 79px;
  border: none;
  background: none;
  background-image: url("../images/link_button_2.jpg");
  background-repeat: no-repeat;
  background-position: top;
}
/* line 118, ../sass/index.scss */
ul.link_button li button.button_2:hover {
  background-position: bottom;
}
/* line 124, ../sass/index.scss */
ul.link_button li button.button_3 {
  position: relative;
  width: 234px;
  height: 79px;
  border: none;
  background: none;
  background-image: url("../images/link_button_3.jpg");
  background-repeat: no-repeat;
  background-position: top;
}
/* line 134, ../sass/index.scss */
ul.link_button li button.button_3:hover {
  background-position: bottom;
}
/* line 140, ../sass/index.scss */
ul.link_button li button.button_4 {
  position: relative;
  width: 234px;
  height: 79px;
  border: none;
  background: none;
  background-image: url("../images/link_button_4.jpg");
  background-repeat: no-repeat;
  background-position: top;
}
/* line 150, ../sass/index.scss */
ul.link_button li button.button_4:hover {
  background-position: bottom;
}
