/* line 3, ../sass/knowledge.scss */
div.middle_container {
  width: 100% !important;
  background: #000;
}

/* line 9, ../sass/knowledge.scss */
.content {
  position: relative;
  margin: 0 auto;
  width: 1024px;
}
/* line 14, ../sass/knowledge.scss */
.content #gotop {
  display: none;
  position: fixed;
  bottom: 100px;
  margin-left: 1020px;
  width: 36px;
  height: 37px;
  cursor: pointer;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/knowledge/top.png?1377997057');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* line 25, ../sass/knowledge.scss */
.content table {
  border-spacing: 0;
  width: 1024px;
}
/* line 29, ../sass/knowledge.scss */
.content table td {
  padding: 0;
}
/* line 33, ../sass/knowledge.scss */
.content table img {
  display: block;
  max-width: none;
}
/* line 39, ../sass/knowledge.scss */
.content ul.nav {
  position: absolute;
  top: 50px;
  left: 50px;
  *zoom: 1;
}
/* line 45, ../sass/knowledge.scss */
.content ul.nav li {
  list-style: none;
  display: block;
  float: left;
}
/* line 50, ../sass/knowledge.scss */
.content ul.nav li a {
  display: inline-block;
  *display: block;
  height: 55px;
}
/* line 56, ../sass/knowledge.scss */
.content ul.nav li.diamond a {
  width: 150px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/knowledge/knowledge_nav_01.png?1377945838');
  background-repeat: no-repeat;
  background-position: left top;
}
/* line 60, ../sass/knowledge.scss */
.content ul.nav li.diamond a:hover {
  background-position: bottom;
}
/* line 65, ../sass/knowledge.scss */
.content ul.nav li.gradingreport a {
  width: 200px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/knowledge/knowledge_nav_02.png?1377945838');
  background-repeat: no-repeat;
  background-position: left top;
}
/* line 69, ../sass/knowledge.scss */
.content ul.nav li.gradingreport a:hover {
  background-position: bottom;
}
/* line 74, ../sass/knowledge.scss */
.content ul.nav li.design a {
  width: 145px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/knowledge/knowledge_nav_03.png?1377945838');
  background-repeat: no-repeat;
  background-position: left top;
}
/* line 78, ../sass/knowledge.scss */
.content ul.nav li.design a:hover {
  background-position: bottom;
}
/* line 83, ../sass/knowledge.scss */
.content ul.nav li.productcare a {
  width: 192px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/knowledge/knowledge_nav_04.png?1377945838');
  background-repeat: no-repeat;
  background-position: left top;
}
/* line 87, ../sass/knowledge.scss */
.content ul.nav li.productcare a:hover {
  background-position: bottom;
}
/* line 92, ../sass/knowledge.scss */
.content ul.nav li.guaranteeservice a {
  width: 238px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/knowledge/knowledge_nav_05.png?1378189938');
  background-repeat: no-repeat;
  background-position: left top;
}
/* line 96, ../sass/knowledge.scss */
.content ul.nav li.guaranteeservice a:hover {
  background-position: bottom;
}
/* line 101, ../sass/knowledge.scss */
.content ul.nav li.on > a {
  background-position: bottom;
}

/* line 108, ../sass/knowledge.scss */
footer.footer {
  margin-top: 0;
}
