/* line 4, ../sass/layout.scss */
html, body {
  height: 100%;
}

/* line 8, ../sass/layout.scss */
#container {
  height: auto;
  min-height: 100%;
  position: relative;
}

/* line 14, ../sass/layout.scss */
div.middle_container {
  width: 1024px;
  margin: 2px auto 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 20, ../sass/layout.scss */
.main {
  margin-bottom: 50px;
}
