/* line 1, ../sass/locations.scss */
.content {
  padding: 50px 0 50px 50px;
  *padding: 50px 0 0 0;
}
/* line 6, ../sass/locations.scss */
.content img.visual {
  margin-bottom: 10px;
}
/* line 10, ../sass/locations.scss */
.content .storename {
  display: inline-block;
  width: 250px;
  height: 25px;
  line-height: 25px;
  padding: 0 0 5px 20px;
  background: url("../images/location/marker.png") no-repeat;
  border-bottom: 1px solid #e6dbde;
  color: #978a72;
  font-size: .95em;
}
/* line 22, ../sass/locations.scss */
.content .information {
  margin: 10px;
  list-style: none;
  color: #978a72;
  font-size: .95em;
}

/* line 30, ../sass/locations.scss */
.storelist {
  padding-top: 50px;
}
/* line 33, ../sass/locations.scss */
.storelist > ul {
  color: #978a72;
  font-size: 1.1em;
  list-style: none;
}
/* line 38, ../sass/locations.scss */
.storelist > ul > li {
  font-weight: bold;
  background: url(../images/location/hr.png) left 1.8em no-repeat;
}
/* line 43, ../sass/locations.scss */
.storelist > ul > li > ul {
  margin: 15px auto 15px 40px;
}
/* line 47, ../sass/locations.scss */
.storelist > ul > li > ul li {
  font-weight: normal;
  font-size: .85em;
  list-style-type: disc;
}
/* line 52, ../sass/locations.scss */
.storelist > ul > li > ul li a {
  color: #978a72;
}
/* line 55, ../sass/locations.scss */
.storelist > ul > li > ul li a:hover {
  color: #000;
  text-decoration: none;
}
/* line 61, ../sass/locations.scss */
.storelist > ul > li > ul li.on a {
  color: #000;
  text-decoration: none;
}

/* line 70, ../sass/locations.scss */
.main {
  position: relative;
}

/* line 74, ../sass/locations.scss */
.map {
  position: absolute;
  right: 0;
  bottom: 0;
}
