/* line 7, ../sass/news_detail.scss */
.images {
  padding: 50px 0;
  *padding: 50px 0 0 0;
}
/* line 12, ../sass/news_detail.scss */
.images .viewer {
  background-color: #ece9e4;
  width: 502px;
  min-height: 515px;
}
/* line 18, ../sass/news_detail.scss */
.images .view {
  width: 502px;
  height: 402px;
}
/* line 23, ../sass/news_detail.scss */
.images .view img {
  border: 1px solid #a0927b;
  width: 500px;
  height: 400px;
}
/* line 29, ../sass/news_detail.scss */
.images .thumbs {
  margin: 10px auto;
  list-style: none;
  overflow: hidden;
  *zoom: 1;
}
/* line 34, ../sass/news_detail.scss */
.images .thumbs li {
  float: left;
  display: inline-block;
  *display: inline;
  margin-left: 8px;
}
/* line 41, ../sass/news_detail.scss */
.images .thumbs .focus {
  margin: -10px 0 0 0;
  border: 5px solid #927c55;
  position: relative;
  *width: 105px;
  *height: 0;
}

/* line 52, ../sass/news_detail.scss */
.content {
  padding: 50px 0;
  *padding: 50px 0 0 0;
  color: #98836c;
  font-size: .95em;
  font-family: Arial;
}
/* line 60, ../sass/news_detail.scss */
.content time {
  display: block;
  float: left;
  border-right: 1px solid #98836c;
  padding-right: 5px;
}
/* line 67, ../sass/news_detail.scss */
.content h1 {
  display: block;
  float: right;
  margin: 0 20px 0 10px;
  font-weight: normal;
  font-size: .95em;
  width: 400px;
  vertical-align: top;
  line-height: 1.7em;
}
/* line 78, ../sass/news_detail.scss */
.content hr {
  float: left;
  width: 100%;
  border: 0;
  height: 8px;
  background: url(../images/news/hr.png) no-repeat;
  margin: 10px 0 10px 0;
  *display: list-item;
  *list-style: url(../images/news/hr.png) inside;
  *filter: alpha(opacity=0);
  *width: 0;
  *margin: 0;
}
/* line 92, ../sass/news_detail.scss */
.content article p {
  margin-top: 15px;
}
/* line 96, ../sass/news_detail.scss */
.content .controls {
  list-style: none;
  margin-top: 30px;
}
/* line 100, ../sass/news_detail.scss */
.content .controls li {
  float: left;
  display: block;
  font-size: .85em;
  overflow: hidden;
}
/* line 106, ../sass/news_detail.scss */
.content .controls li.back {
  width: 190px;
  height: 48px;
  background: url("../images/news/btn_back.png") top no-repeat;
  margin-right: 10px;
}
/* line 112, ../sass/news_detail.scss */
.content .controls li.back a {
  color: #b3a18e;
  display: inline-block;
  width: 120px;
  padding-left: 70px;
  margin-top: 5px;
  text-decoration: none;
}
/* line 121, ../sass/news_detail.scss */
.content .controls li.back:hover {
  background-position: bottom;
}
/* line 126, ../sass/news_detail.scss */
.content .controls li.next {
  width: 190px;
  height: 48px;
  background: url("../images/news/btn_next.png") top no-repeat;
  margin-left: 10px;
}
/* line 132, ../sass/news_detail.scss */
.content .controls li.next a {
  color: #b3a18e;
  display: inline-block;
  width: 120px;
  padding-left: 5px;
  margin-top: 5px;
  text-decoration: none;
}
/* line 141, ../sass/news_detail.scss */
.content .controls li.next:hover {
  background-position: bottom;
}
/* line 146, ../sass/news_detail.scss */
.content .controls li.list {
  width: 63px;
  height: 48px;
}
/* line 150, ../sass/news_detail.scss */
.content .controls li.list a {
  display: block;
  width: 63px;
  height: 48px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/news/btn_list.png?1377910657');
  background-repeat: no-repeat;
  background-position: left top;
}
/* line 156, ../sass/news_detail.scss */
.content .controls li.list a:hover {
  background-position: bottom;
}
