/* line 1, ../sass/story.scss */
.story {
  margin-top: 50px;
}
/* line 4, ../sass/story.scss */
.story table {
  margin: 0 auto;
  width: 961px;
  border-spacing: 0;
}
/* line 9, ../sass/story.scss */
.story table td {
  padding: 0;
}
/* line 13, ../sass/story.scss */
.story table img {
  display: block;
  max-width: none;
}
