/* 產品圖 */
/* line 4, ../sass/wedding_detail.scss */
div.product_pic {
  margin-top: 50px;
  /*大張產品圖*/
  /* 小張產品圖 */
}
/* line 8, ../sass/wedding_detail.scss */
div.product_pic .slideshow {
  width: 400px;
  height: 416px;
  margin: 0 auto;
}
/* line 12, ../sass/wedding_detail.scss */
div.product_pic .slideshow img {
  width: 400px;
  height: 416px;
  padding: 0;
}
/* line 21, ../sass/wedding_detail.scss */
div.product_pic #nav {
  margin-left: 60px;
  margin-top: 30px;
}
/* line 25, ../sass/wedding_detail.scss */
div.product_pic #nav li {
  width: 66px;
  margin: 8px;
  list-style: none;
  display: inline-block;
  *float: left;
  border: 1px solid #d4cdc8;
}
/* line 34, ../sass/wedding_detail.scss */
div.product_pic #nav a {
  width: 66px;
  display: block;
}
/* line 38, ../sass/wedding_detail.scss */
div.product_pic #nav a:focus {
  outline: none;
}
/* line 43, ../sass/wedding_detail.scss */
div.product_pic #nav li.activeSlide {
  background: url("../images/jewelry_detail/small_icon_bg.png");
}
/* line 47, ../sass/wedding_detail.scss */
div.product_pic #nav img {
  border: none;
  display: block;
  width: 66px;
}

/*產品資訊*/
/* line 57, ../sass/wedding_detail.scss */
div.product_info {
  margin-top: 50px;
  color: #968771;
  /*產品描述*/
  /*產品規格*/
  /*備註*/
  /*更多商品*/
  /*fb及back*/
}
/* line 60, ../sass/wedding_detail.scss */
div.product_info h1.title {
  text-align: center;
  font-size: 1.2em;
}
/* line 65, ../sass/wedding_detail.scss */
div.product_info img.title_hr {
  width: 396px;
  display: block;
  margin: -20px auto 0 auto;
}
/* line 72, ../sass/wedding_detail.scss */
div.product_info div.product_desc {
  margin-top: 20px;
}
/* line 75, ../sass/wedding_detail.scss */
div.product_info div.product_desc div.product_desc_title_zone {
  width: 77px;
}
/* line 79, ../sass/wedding_detail.scss */
div.product_info div.product_desc div.product_desc_text_zone {
  float: right;
  width: 410px;
  margin-top: -74px;
  font-size: 12px;
  line-height: 24px;
  border-bottom: 1px dotted #bab4aa;
}
/* line 91, ../sass/wedding_detail.scss */
div.product_info div.product_spec {
  clear: both;
}
/* line 94, ../sass/wedding_detail.scss */
div.product_info div.product_spec div.product_spec_title_zone {
  width: 77px;
}
/* line 98, ../sass/wedding_detail.scss */
div.product_info div.product_spec div.product_spec_text_zone {
  float: right;
  width: 410px;
  margin-top: -74px;
  font-size: 12px;
  line-height: 24px;
  border-bottom: 1px dotted #bab4aa;
  position: relative;
}
/* line 109, ../sass/wedding_detail.scss */
div.product_info div.product_spec div.product_spec_text_zone div.product_spec_text_zone_left span.sub_title {
  font-weight: bold;
  display: inline-block;
  width: 90px;
  text-align: right;
  vertical-align: top;
}
/* line 117, ../sass/wedding_detail.scss */
div.product_info div.product_spec div.product_spec_text_zone div.product_spec_text_zone_left span.sub_text {
  display: inline-block;
  width: 150px;
  vertical-align: top;
}
/* line 125, ../sass/wedding_detail.scss */
div.product_info div.product_spec div.product_spec_text_zone div.product_spec_text_zone_right {
  position: absolute;
  top: 0;
  right: 0;
  width: 180px;
}
/* line 132, ../sass/wedding_detail.scss */
div.product_info div.product_spec div.product_spec_text_zone div.product_spec_text_zone_right span.sub_title {
  display: inline-block;
  font-weight: bold;
  width: 90px;
  text-align: right;
}
/* line 139, ../sass/wedding_detail.scss */
div.product_info div.product_spec div.product_spec_text_zone div.product_spec_text_zone_right span.sub_text {
  display: inline-block;
  width: 90px;
  vertical-align: top;
}
/* line 152, ../sass/wedding_detail.scss */
div.product_info div.product_note {
  clear: both;
}
/* line 155, ../sass/wedding_detail.scss */
div.product_info div.product_note div.product_note_title_zone {
  width: 77px;
}
/* line 159, ../sass/wedding_detail.scss */
div.product_info div.product_note div.product_note_text_zone {
  float: right;
  width: 410px;
  margin-top: -24px;
  font-size: 12px;
  line-height: 24px;
  border-bottom: 1px dotted #bab4aa;
}
/* line 170, ../sass/wedding_detail.scss */
div.product_info div.product_more {
  clear: both;
  width: 520px;
  height: 100px;
  padding-top: 10px;
}
/* line 175, ../sass/wedding_detail.scss */
div.product_info div.product_more div.product_more_title_zone {
  width: 77px;
  text-align: center;
  line-height: 100px;
}
/* line 182, ../sass/wedding_detail.scss */
div.product_info div.product_more div.product_more_text_zone {
  float: right;
  width: 440px;
  margin-top: -90px;
  margin-right: -10px;
  font-size: 12px;
  line-height: 24px;
  height: 100px;
  /* Tiny Carousel */
}
/* line 192, ../sass/wedding_detail.scss */
div.product_info div.product_more div.product_more_text_zone #slider1 {
  height: 100%;
  overflow: hidden;
}
/* line 196, ../sass/wedding_detail.scss */
div.product_info div.product_more div.product_more_text_zone #slider1 .viewport {
  float: left;
  width: 360px;
  height: 100%;
  overflow: hidden;
  position: relative;
  margin: 0 15px;
}
/* line 205, ../sass/wedding_detail.scss */
div.product_info div.product_more div.product_more_text_zone #slider1 .buttons {
  background: url("../images/jewelry_detail/arrow_combine.png") no-repeat scroll 0 0 transparent;
  display: block;
  margin: 12px 0px 0 0;
  background-position: 0 -28px;
  text-indent: -999px;
  float: left;
  width: 18px;
  height: 56px;
  overflow: hidden;
  position: relative;
}
/* line 219, ../sass/wedding_detail.scss */
div.product_info div.product_more div.product_more_text_zone #slider1 .next {
  background-position: 0 0;
  margin: 12px 0 0 0px;
}
/* line 224, ../sass/wedding_detail.scss */
div.product_info div.product_more div.product_more_text_zone #slider1 .disable {
  visibility: hidden;
}
/* line 228, ../sass/wedding_detail.scss */
div.product_info div.product_more div.product_more_text_zone #slider1 .overview {
  list-style: none;
  position: absolute;
  padding: 0;
  margin: 0;
  width: 360px;
  left: 0;
  top: 0;
}
/* line 238, ../sass/wedding_detail.scss */
div.product_info div.product_more div.product_more_text_zone #slider1 .overview li {
  float: left;
  margin-right: 10px;
  height: 80px;
  width: 80px;
}
/* line 250, ../sass/wedding_detail.scss */
div.product_info div.fb_back {
  height: 70px;
  margin-top: 20px;
}
/* line 253, ../sass/wedding_detail.scss */
div.product_info div.fb_back div.back_link {
  float: right;
  width: 63px;
  height: 48px;
}
/* line 258, ../sass/wedding_detail.scss */
div.product_info div.fb_back div.back_link a {
  display: block;
  width: 63px;
  height: 48px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/news/btn_list.png?1377885184');
  background-repeat: no-repeat;
  background-position: left top;
}
/* line 264, ../sass/wedding_detail.scss */
div.product_info div.fb_back div.back_link a:hover {
  background-position: bottom;
}
/* line 269, ../sass/wedding_detail.scss */
div.product_info div.fb_back div.fb-like {
  margin-top: 10px;
}
