@import "compass/utilities/text/replacement";

.content {

    padding-top: 50px;
    padding-left: 50px;

    h1 {
        width: 183px;
        height: 37px;
        @include replace-text("title_contact.png");
        margin: 0;
    }

    hr {
        border: 0;
        height: 15px;
        background: url(../images/hr.png) 50% 0 no-repeat;
        margin: 1em 0;
        *display: list-item;
        *list-style: url(../images/hr.png) inside;
        *filter: alpha(opacity=0);
        *width: 0;
        *margin: 0;
    }

    .tip {
        color: #c0b29b;
        font-size: .9em;
    }

}

.visual {
    padding-top: 50px;
}