div.all_vs {
    width: 1024px;
    position: relative;

    /*大張輪播圖*/
    .slideshow {
        height: 480px;
        width: 1024px;

        img {
            padding: 0;
        }
    }

    /*小張輪播圖*/
    #nav {
        position: absolute;
        margin-left: 0;
        width: 974px;
        overflow: hidden;
        z-index: 99999;
        bottom: 30px;
        right: 33px;

        li {
            width: 48px;
            float: right;
            margin: 8px;
            list-style: none;
            padding: 1px;
            border: 1px solid rgb(176, 152, 115);
        }

        a {
            width: 48px;
            display: block;

            &:focus {
                outline: none;
            }
        }

        li.activeSlide {
            border:3px solid rgb(176, 152, 115);
        }

        img {
            border: none;
            display: block;
        }
    }
}

/*連結按鈕*/
ul.link_button {
    position: relative;
    width: 941px;
    height: 94px;
    margin: -35px auto 0 auto;
    z-index: 999999;
    background: url("../images/link_bg.png") no-repeat;
    line-height: 88px;

    li {
        list-style: none;
        display: inline-block;
        *display: block;
        *float: left;
        width: 234px;
        border-right: 1px solid rgb(184, 184, 184);

        button {

            /*link區第一個按鈕*/
            &.button_1 {
                position: relative;
                width: 234px;
                height: 79px;
                border: none;
                background: none;
                background-image: url("../images/link_button_1.jpg");
                background-repeat: no-repeat;

                &:hover {
                    background-image: url("../images/link_button_1_hover.jpg");
                }
            }

            /*link區第二個按鈕*/
            &.button_2 {
                position: relative;
                width: 234px;
                height: 79px;
                border: none;
                background: none;
                background-image: url("../images/link_button_2.jpg");
                background-repeat: no-repeat;

                &:hover {
                    background-image: url("../images/link_button_2_hover.jpg");
                }
            }

            /*link區第三個按鈕*/
            &.button_3 {
                position: relative;
                width: 234px;
                height: 79px;
                border: none;
                background: none;
                background-image: url("../images/link_button_3.jpg");
                background-repeat: no-repeat;

                &:hover {
                    background-image: url("../images/link_button_3_hover.jpg");
                }
            }

            /*link區第四個按鈕*/
            &.button_4 {
                position: relative;
                width: 234px;
                height: 79px;
                border: none;
                background: none;
                background-image: url("../images/link_button_4.jpg");
                background-repeat: no-repeat;

                &:hover {
                    background-image: url("../images/link_button_4_hover.jpg");
                }
            }

        }
    }
}