@import "variables_custom";
@import "compass/utilities/general/clearfix";

html, body {
    height: 100%;
}

#container {
    height: auto;
    min-height: 100%;
    position: relative;
}

div.middle_container {
	width: $layout_width;
	margin: 2px auto 0 auto;
    @include clearfix;
}

.main {
    margin-bottom: 50px;
}