.content {

    padding: 50px 0 50px 50px;
    *padding: 50px 0 0 0;

    img.visual {
        margin-bottom: 10px;
    }

    .storename {
        display: inline-block;
        width: 250px;
        height: 25px;
        line-height: 25px;
        padding: 0 0 5px 20px;
        background: url('../images/location/marker.png') no-repeat;
        border-bottom: 1px solid #e6dbde;
        color: #978a72;
        font-size: .95em;
    }

    .information {
        margin: 10px;
        list-style: none;
        color: #978a72;
        font-size: .95em;
    }
}

.storelist {
    padding-top: 50px;

    > ul {
        color: #978a72;
        font-size: 1.1em;
        list-style: none;

        &> li {
            font-weight: bold;
            background: url(../images/location/hr.png) left 1.8em no-repeat;
        }

        > li > ul {

            margin: 15px auto 15px 40px;

            li {
                font-weight: normal;
                font-size: .85em;
                list-style-type: disc;

                a {
                    color: #978a72;

                    &:hover {
                        color: #000;
                        text-decoration: none;
                    }
                }

                &.on a {
                    color: #000;
                    text-decoration: none;
                }
            }
        }
    }
}

.main {
    position: relative;
}

.map {
    position: absolute;
    right: 0;
    bottom: 0;
}