.story {
    margin-top: 50px;

    table {
        margin: 0 auto;
        width: 961px;
        border-spacing: 0;

        td {
            padding: 0;
        }

        img {
            display: block;
            max-width: none;
        }
    }
}