@import "compass/utilities/text/replacement";
@import "compass/css3/transition";

/* wedding 列表 */
div.wedding_zone {
    margin-top: 50px;

    .wedding_list {
        width: 100%;

        li {
            list-style: none;
            display: block;
            float: left;
            width: 251px;
            height: 246px;
            border: 0 solid rgb(218, 201, 189);
            border-width: 1px 0 0 1px;
            text-align: center;
            position: relative;
            overflow: hidden;

            &:nth-child(4n) {
                border-width: 1px 1px 0 1px;
            }

            &:nth-child(9), &:nth-child(10), &:nth-child(11) {
                border-width: 1px 0 1px 1px;
            }

            &:nth-child(12) {
                border-width: 1px 1px 1px 1px;
            }

            &.next_page {
                background-color: rgb(246, 242, 237);
                cursor: pointer;
                @include replace-text("wedding/next_page.jpg");

                &:hover {
                    background: rgb(241, 237, 227);
                    @include replace-text("wedding/next_page_hover.jpg");
                }

                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }

            &.last_page {
                background-color: rgb(246, 242, 237);
                cursor: pointer;
                @include replace-text("wedding/last_page.jpg");

                &:hover {
                    background: rgb(241, 237, 227);
                    @include replace-text("wedding/last_page_hover.jpg");
                }

                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }

            div.product_item {
                position: relative;
                height: 246px;

                img {
                    margin-top: 10px;
                }

                div.product_info {
                    display: block;
                    text-align: left;
                    padding: 5px;
                    position: absolute;
                    bottom: -80px;
                    right: 0;
                    background-color: rgb(158, 150, 138);
                    color: #fff;
                    width: 125px;
                    height: 70px;
                    font-size: .8em;
                    @include transition(all .5s ease);

                    p {
                        margin: 0;

                        &.more {
                            float: right;
                            margin-top: 10px;
                        }
                    }
                }

                &:hover > div.product_info {
                    bottom: 0;
                }

                span {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    cursor: pointer;
                    background: url("../images/empty.gif");
                }
            }
        }
    }

}
