<footer class="footer">
	<div class="footer_inner">
		
		<div class="social_icon">
			<a href="#" class="facebook">Facebook</a>
			<a href="#" class="googleplus">GooglePlus</a>
			<a href="#" class="email">Email</a>
		</div>
		<p class="rights">&copy; 2013 Dewelry International Co., LTD. All Rights Reserved.</p>
		
		<!-- privacy隱私與人員招募 -->
		<div class="job_and_privacy">
			<a href="#">Job 人員招募</a>
			<a href="#">Privacy 隱私</a>
		</div>
	</div>
</footer><!-- end class footer -->