<footer class="footer">
	<div class="footer_inner">
		
		<div class="social_icon">
			<a href="#"><img src="./images/footer/social_icon_facebook.png" onmouseover="change_pic(this, './images/footer/social_icon_facebook_hover.png')" onmouseout="change_pic(this, './images/footer/social_icon_facebook.png')"></a>
			<a href="#"><img src="./images/footer/social_icon_google.png" onmouseover="change_pic(this, './images/footer/social_icon_google_hover.png')" onmouseout="change_pic(this, './images/footer/social_icon_google.png')"></a>
			<a href="#"><img src="./images/footer/social_icon_mail.png" onmouseover="change_pic(this, './images/footer/social_icon_mail_hover.png')" onmouseout="change_pic(this, './images/footer/social_icon_mail.png')"></a>
		</div>
		<p class="rights">&copy; 2013 Dewelry International Co., LTD. All Rights Reserved.</p>
		
		<!-- privacy隱私與人員招募 -->
		<div class="job_and_privacy">
			<a href="#">Job 人員招募</a>
			<a href="#">Privacy 隱私</a>
		</div>
	</div>
</footer><!-- end class footer -->