<header class="header">
	<div class="logo">
		<img src="./images/logo_dewelry.png">
	</div>
	
	<nav class="main_nav">
		<ul class="main_nav_ul">
			<li class="item_story">
				<a href="#" onmouseover="hover_in(this)" onmouseout="hover_out(this)"><img src="./images/icon_story.png" class="item_icon">STORY</a>
				<img src="./images/d_line.png" class="d_line">
				<img src="./images/sub_nav_arrow.png" class="hinter">
			</li>
			
			<li class="item_news">
				<a href="#" onmouseover="hover_in(this)" onmouseout="hover_out(this)"><img src="./images/icon_news.png" class="item_icon">NEWS</a>
				<img src="./images/d_line.png" class="d_line">
				<img src="./images/sub_nav_arrow.png" class="hinter">
			</li>
			
			<li class="item_wedding">
				<a href="#" onmouseover="hover_in(this)" onmouseout="hover_out(this)"><img src="./images/icon_wedding.png" class="item_icon">WEDDING</a>
				<img src="./images/d_line.png" class="d_line">
				<img src="./images/sub_nav_arrow.png" class="hinter">
			</li>
			
			<li class="item_jewelry">
				<a href="#" onmouseover="hover_in(this)" onmouseout="hover_out(this)"><img src="./images/icon_jewelry.png" class="item_icon">JEWELRY</a>
				<img src="./images/d_line.png" class="d_line">
				<img src="./images/sub_nav_arrow.png" class="hinter">
			</li>
			
			<li class="item_locations">
				<a href="#" onmouseover="hover_in(this)" onmouseout="hover_out(this)"><img src="./images/icon_locations.png" class="item_icon">LOCATIONS</a>
				<img src="./images/d_line.png" class="d_line">
				<img src="./images/sub_nav_arrow.png" class="hinter">
			</li>
			
			<li class="item_knowledge">
				<a href="#" onmouseover="hover_in(this)" onmouseout="hover_out(this)"><img src="./images/icon_knowledge.png" class="item_icon">KNOWLEDGE</a>
				<img src="./images/d_line.png" class="d_line">
				<img src="./images/sub_nav_arrow.png" class="hinter">
			</li>
			
			<li class="item_contact">
				<a href="contact.html" onmouseover="hover_in(this)" onmouseout="hover_out(this)"><img src="./images/icon_contact.png" class="item_icon">CONTACT</a>
				<img src="./images/sub_nav_arrow.png" class="hinter">
			</li>
		</ul>
	</nav>
	
</header><!-- end class header -->