<% content_for :header_content do %>
  <link href="./css/contact.css" rel="stylesheet">
<% end %>

<div class="span7 content">
    <h1>Contact Us</h1>
    <hr />
    <p class="tip">親愛的顧客您好!若您有任何疑問，歡迎您隨時將需求告訴我們，我們會在3~5個工作天回覆您的訊息，煩請填寫完整，以便客服人員進行資料查詢，謝謝您的指教!</p>


    <form id="form1" method="post">
    </form>
</div>

<div class="span5 visual">
    <img src="./images/visual_contact.jpg" />
</div>