<% content_for :index_content do %>
  <link href="./css/index.css" rel="stylesheet">
  <script src="./js/jquery.cycle.all.js"></script>
  
  <script src="./js/slideshow.js"></script>
<% end %>
<div>
	<div class="all_vs">
		<div class="slideshow">
			<img src="./images/rotate/1.png">
			<img src="./images/rotate/2.png">
			<img src="./images/rotate/3.png">
		</div><!-- end class slideshow -->
		
		
		<ul id="nav">
			<li><a href="#"><img src="./images/rotate/small/1_small.png"></a></li>
			<li><a href="#"><img src="./images/rotate/small/2_small.png"></a></li>
			<li><a href="#"><img src="./images/rotate/small/3_small.png"></a></li>
			
		</ul><!-- end id  nav-->
	</div>
	
</div>