<% @on_jewelry_list = capture do %>on<% end %>

<% content_for :header_content do %>
  <link href="./css/jewelry_list.css" rel="stylesheet">
  <script src="./js/selectivizr-min.js"></script>
<% end %>
<% content_for :breadcrumb_content do %>
  <a href="index.html">Home</a> &gt; <a href="jewelry_list.html">Jewelry</a> &gt; <a href="#">Natural Pearl</a>
<% end %>

<div class="jewelry_zone">
    <ul class="jewelry_list">
        <li class="last_page"><a href="jewelry_list2.html">Prev</a></li>
        <li>
            <div class="product_item">
                <img src="./images/jewelry/1_2.png">
                <div class="product_info">
                    <p>玫瑰心情</p>
                    <p>Style # 9999</p>
                    <p class="more">MORE</p>
                </div>
            </div>
        </li>
        <li>
            <div class="product_item">
                <img src="./images/jewelry/1_3.png">
                <div class="product_info">
                    <p>玫瑰心情</p>
                    <p>Style # 9999</p>
                    <p class="more">MORE</p>
                </div>
            </div>
        </li>
        <li>
            <div class="product_item">
                <img src="./images/jewelry/1_4.png">
                <div class="product_info">
                    <p>玫瑰心情</p>
                    <p>Style # 9999</p>
                    <p class="more">MORE</p>
                </div>
            </div>
        </li>
        <li>
            <div class="product_item">
                <img src="./images/jewelry/2_1.png">
                <div class="product_info">
                    <p>玫瑰心情</p>
                    <p>Style # 9999</p>
                    <p class="more">MORE</p>
                </div>
            </div>
        </li>
        <li>
            <div class="product_item">
                <img src="./images/jewelry/2_2.png">
                <div class="product_info">
                    <p>玫瑰心情</p>
                    <p>Style # 9999</p>
                    <p class="more">MORE</p>
                </div>
            </div>
        </li>
        <li>
            <div class="product_item">
                <img src="./images/jewelry/2_3.png">
                <div class="product_info">
                    <p>玫瑰心情</p>
                    <p>Style # 9999</p>
                    <p class="more">MORE</p>
                </div>
            </div>
        </li>
        <li>
            <div class="product_item">
                <img src="./images/jewelry/2_4.png">
                <div class="product_info">
                    <p>玫瑰心情</p>
                    <p>Style # 9999</p>
                    <p class="more">MORE</p>
                </div>
            </div>
        </li>
        <li>
            <div class="product_item">
                <img src="./images/jewelry/3_1.png">
                <div class="product_info">
                    <p>玫瑰心情</p>
                    <p>Style # 9999</p>
                    <p class="more">MORE</p>
                </div>
            </div>
        </li>
        <li>
            <div class="product_item">
                <img src="./images/jewelry/3_2.png">
                <div class="product_info">
                    <p>玫瑰心情</p>
                    <p>Style # 9999</p>
                    <p class="more">MORE</p>
                </div>
            </div>
        </li>
        <li>
            <div class="product_item">
                <img src="./images/jewelry/3_3.png">
                <div class="product_info">
                    <p>玫瑰心情</p>
                    <p>Style # 9999</p>
                    <p class="more">MORE</p>
                </div>
            </div>
        </li>
        <li>
            <div class="product_item">
                <img src="./images/jewelry/1_1.png">
                <div class="product_info">
                    <p>玫瑰心情</p>
                    <p>Style # 9999</p>
                    <p class="more">MORE</p>
                </div>
            </div>
        </li>
    </ul>
</div>