<% @on_jewelry_list = capture do %>on<% end %>

<% content_for :header_content do %>
  <link href="./css/jewelry_list.css" rel="stylesheet">
<% end %>
<% content_for :breadcrumb_content do %>
  <a href="index.html">Home</a> &gt; <a href="jewelry_list.html">Jewelry</a> &gt; <a href="#">Natural Pearl</a>
<% end %>

<table>
	<tr><!-- 第一列 -->
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	
	<tr><!-- 第二列 -->
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	
	<tr><!-- 第三列 -->
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>