<% @on_knowledge = capture do %>on<% end %>

<% content_for :header_content do %>
  <link href="./css/knowledge.css" rel="stylesheet">
  <script src="./js/knowledge.js"></script>
<% end %>
<% content_for :breadcrumb_content do %>
  <a href="index.html">Home</a> &gt; <a href="knowledge_diamond.html">Knowledge</a>
<% end %>

<div class="content">

    <ul class="nav">
        <li class="diamond"><a href="knowledge_diamond.html">Diamond</a></li>
        <li class="gradingreport"><a href="knowledge_gradingreport.html">Grading Report</a></li>
        <li class="design on"><a href="knowledge_design.html">Design</a></li>
        <li class="productcare"><a href="knowledge_product_care.html">Product Care</a></li>
        <li class="guaranteeservice"><a href="knowledge_guarantee_Service.html">Guarantee Service</a></li>
    </ul>

    <table width="1024" height="993" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td><img src="images/knowledge/knowledge_design_01.jpg" width="346" height="355" alt=""></td>
            <td><img src="images/knowledge/knowledge_design_02.jpg" width="330" height="355" alt=""></td>
            <td><img src="images/knowledge/knowledge_design_03.jpg" width="348" height="355" alt=""></td>
        </tr>
        <tr>
            <td><img src="images/knowledge/knowledge_design_04.jpg" width="346" height="301" alt=""></td>
            <td><img src="images/knowledge/knowledge_design_05.jpg" width="330" height="301" alt=""></td>
            <td><img src="images/knowledge/knowledge_design_06.jpg" width="348" height="301" alt=""></td>
        </tr>
        <tr>
            <td><img src="images/knowledge/knowledge_design_07.jpg" width="346" height="337" alt=""></td>
            <td><img src="images/knowledge/knowledge_design_08.jpg" width="330" height="337" alt=""></td>
            <td><img src="images/knowledge/knowledge_design_09.jpg" width="348" height="337" alt=""></td>
        </tr>
    </table>

    <div id="gotop">top</div>
</div>