<% @on_knowledge = capture do %>on<% end %>

<% content_for :header_content do %>
  <link href="./css/knowledge.css" rel="stylesheet">
  
  <script src="./js/knowledge.js"></script>
<% end %>
<% content_for :breadcrumb_content do %>
  <a href="index.html">Home</a> &gt; <a href="knowledge_diamond.html">Knowledge</a>
<% end %>

<div class="content">

    <ul class="nav">
        <li class="diamond"><a href="knowledge_diamond.html">Diamond</a></li>
        <li class="gradingreport"><a href="knowledge_gradingreport.html">Grading Report</a></li>
        <li class="design"><a href="knowledge_design.html">Design</a></li>
        <li class="productcare on"><a href="knowledge_product_care.html">Product Care</a></li>
        <li class="guaranteeservice"><a href="knowledge_guarantee_Service.html">Guarantee Service</a></li>
    </ul>
    
    <table id="Table_01" width="1024" height="814" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td>
					<img src="./images/knowledge/product_care/product_care_01.jpg" width="205" height="163" alt=""></td>
				<td>
					<img src="./images/knowledge/product_care/product_care_02.jpg" width="205" height="163" alt=""></td>
				<td>
					<img src="./images/knowledge/product_care/product_care_03.jpg" width="204" height="163" alt=""></td>
				<td>
					<img src="./images/knowledge/product_care/product_care_04.jpg" width="205" height="163" alt=""></td>
				<td>
					<img src="./images/knowledge/product_care/product_care_05.jpg" width="205" height="163" alt=""></td>
			</tr>
			<tr>
				<td>
					<img src="./images/knowledge/product_care/product_care_06.jpg" width="205" height="163" alt=""></td>
				<td>
					<img src="./images/knowledge/product_care/product_care_07.jpg" width="205" height="163" alt=""></td>
				<td>
					<img src="./images/knowledge/product_care/product_care_08.jpg" width="204" height="163" alt=""></td>
				<td>
					<img src="./images/knowledge/product_care/product_care_09.jpg" width="205" height="163" alt=""></td>
				<td>
					<img src="./images/knowledge/product_care/product_care_10.jpg" width="205" height="163" alt=""></td>
			</tr>
			<tr>
				<td>
					<img src="./images/knowledge/product_care/product_care_11.jpg" width="205" height="162" alt=""></td>
				<td>
					<img src="./images/knowledge/product_care/product_care_12.jpg" width="205" height="162" alt=""></td>
				<td>
					<img src="./images/knowledge/product_care/product_care_13.jpg" width="204" height="162" alt=""></td>
				<td>
					<img src="./images/knowledge/product_care/product_care_14.jpg" width="205" height="162" alt=""></td>
				<td>
					<img src="./images/knowledge/product_care/product_care_15.jpg" width="205" height="162" alt=""></td>
			</tr>
			<tr>
				<td>
					<img src="./images/knowledge/product_care/product_care_16.jpg" width="205" height="163" alt=""></td>
				<td>
					<img src="./images/knowledge/product_care/product_care_17.jpg" width="205" height="163" alt=""></td>
				<td>
					<img src="./images/knowledge/product_care/product_care_18.jpg" width="204" height="163" alt=""></td>
				<td>
					<img src="./images/knowledge/product_care/product_care_19.jpg" width="205" height="163" alt=""></td>
				<td>
					<img src="./images/knowledge/product_care/product_care_20.jpg" width="205" height="163" alt=""></td>
			</tr>
			<tr>
				<td>
					<img src="./images/knowledge/product_care/product_care_21.jpg" width="205" height="163" alt=""></td>
				<td>
					<img src="./images/knowledge/product_care/product_care_22.jpg" width="205" height="163" alt=""></td>
				<td>
					<img src="./images/knowledge/product_care/product_care_23.jpg" width="204" height="163" alt=""></td>
				<td>
					<img src="./images/knowledge/product_care/product_care_24.jpg" width="205" height="163" alt=""></td>
				<td>
					<img src="./images/knowledge/product_care/product_care_25.jpg" width="205" height="163" alt=""></td>
			</tr>
		</table>
    
</div>