<% @on_knowledge = capture do %>on<% end %>

<% content_for :header_content do %>
  <link href="./css/knowledge.css" rel="stylesheet">
  <script src="./js/knowledge.js"></script>
<% end %>
<% content_for :breadcrumb_content do %>
  <a href="index.html">Home</a> &gt; <a href="knowledge_diamond.html">Knowledge</a>
<% end %>

<div class="content">

    <ul class="nav">
        <li class="diamond"><a href="knowledge_diamond.html">Diamond</a></li>
        <li class="gradingreport"><a href="knowledge_gradingreport.html">Grading Report</a></li>
        <li class="design"><a href="knowledge_design.html">Design</a></li>
        <li class="productcare"><a href="knowledge_product_care.html">Product Care</a></li>
        <li class="guaranteeservice on"><a href="knowledge_guarantee_Service.html">Guarantee Service</a></li>
    </ul>
    
    <table>
        <tr>
            <td><img src="./images/knowledge/guarantee_service/guarantee_service_01.jpg" width="171" height="138" alt=""></td>
            <td><img src="./images/knowledge/guarantee_service/guarantee_service_02.jpg" width="170" height="138" alt=""></td>
            <td><img src="./images/knowledge/guarantee_service/guarantee_service_03.jpg" width="171" height="138" alt=""></td>
            <td><img src="./images/knowledge/guarantee_service/guarantee_service_04.jpg" width="171" height="138" alt=""></td>
            <td><img src="./images/knowledge/guarantee_service/guarantee_service_05.jpg" width="170" height="138" alt=""></td>
            <td><img src="./images/knowledge/guarantee_service/guarantee_service_06.jpg" width="171" height="138" alt=""></td>
        </tr>
        <tr>
            <td><img src="./images/knowledge/guarantee_service/guarantee_service_07.jpg" width="171" height="138" alt=""></td>
            <td><img src="./images/knowledge/guarantee_service/guarantee_service_08.jpg" width="170" height="138" alt=""></td>
            <td><img src="./images/knowledge/guarantee_service/guarantee_service_09.jpg" width="171" height="138" alt=""></td>
            <td><img src="./images/knowledge/guarantee_service/guarantee_service_10.jpg" width="171" height="138" alt=""></td>
            <td><img src="./images/knowledge/guarantee_service/guarantee_service_11.jpg" width="170" height="138" alt=""></td>
            <td><img src="./images/knowledge/guarantee_service/guarantee_service_12.jpg" width="171" height="138" alt=""></td>
        </tr>
        <tr>
            <td><img src="./images/knowledge/guarantee_service/guarantee_service_13.jpg" width="171" height="138" alt=""></td>
            <td><img src="./images/knowledge/guarantee_service/guarantee_service_14.jpg" width="170" height="138" alt=""></td>
            <td><img src="./images/knowledge/guarantee_service/guarantee_service_15.jpg" width="171" height="138" alt=""></td>
            <td><img src="./images/knowledge/guarantee_service/guarantee_service_16.jpg" width="171" height="138" alt=""></td>
            <td><img src="./images/knowledge/guarantee_service/guarantee_service_17.jpg" width="170" height="138" alt=""></td>
            <td><img src="./images/knowledge/guarantee_service/guarantee_service_18.jpg" width="171" height="138" alt=""></td>
        </tr>
        <tr>
            <td><img src="./images/knowledge/guarantee_service/guarantee_service_19.jpg" width="171" height="138" alt=""></td>
            <td><img src="./images/knowledge/guarantee_service/guarantee_service_20.jpg" width="170" height="138" alt=""></td>
            <td><img src="./images/knowledge/guarantee_service/guarantee_service_21.jpg" width="171" height="138" alt=""></td>
            <td><img src="./images/knowledge/guarantee_service/guarantee_service_22.jpg" width="171" height="138" alt=""></td>
            <td><img src="./images/knowledge/guarantee_service/guarantee_service_23.jpg" width="170" height="138" alt=""></td>
            <td><img src="./images/knowledge/guarantee_service/guarantee_service_24.jpg" width="171" height="138" alt=""></td>
        </tr>
        <tr>
            <td><img src="./images/knowledge/guarantee_service/guarantee_service_25.jpg" width="171" height="138" alt=""></td>
            <td><img src="./images/knowledge/guarantee_service/guarantee_service_26.jpg" width="170" height="138" alt=""></td>
            <td><img src="./images/knowledge/guarantee_service/guarantee_service_27.jpg" width="171" height="138" alt=""></td>
            <td><img src="./images/knowledge/guarantee_service/guarantee_service_28.jpg" width="171" height="138" alt=""></td>
            <td><img src="./images/knowledge/guarantee_service/guarantee_service_29.jpg" width="170" height="138" alt=""></td>
            <td><img src="./images/knowledge/guarantee_service/guarantee_service_30.jpg" width="171" height="138" alt=""></td>
        </tr>
        <tr>
            <td><img src="./images/knowledge/guarantee_service/guarantee_service_31.jpg" width="171" height="138" alt=""></td>
            <td><img src="./images/knowledge/guarantee_service/guarantee_service_32.jpg" width="170" height="138" alt=""></td>
            <td><img src="./images/knowledge/guarantee_service/guarantee_service_33.jpg" width="171" height="138" alt=""></td>
            <td><img src="./images/knowledge/guarantee_service/guarantee_service_34.jpg" width="171" height="138" alt=""></td>
            <td><img src="./images/knowledge/guarantee_service/guarantee_service_35.jpg" width="170" height="138" alt=""></td>
            <td><img src="./images/knowledge/guarantee_service/guarantee_service_36.jpg" width="171" height="138" alt=""></td>
        </tr>
    </table>

    <div id="gotop">top</div>
</div>