<% @on_knowledge = capture do %>on<% end %>

<% content_for :header_content do %>
  <link href="./css/knowledge.css" rel="stylesheet">
  
  <script src="./js/knowledge.js"></script>
<% end %>
<% content_for :breadcrumb_content do %>
  <a href="index.html">Home</a> &gt; <a href="knowledge_diamond.html">Knowledge</a>
<% end %>

<div class="content">

    <ul class="nav">
        <li class="diamond on"><a href="knowledge_diamond.html">Diamond</a></li>
        <li class="gradingreport"><a href="knowledge_gradingreport.html">Grading Report</a></li>
        <li class="design"><a href="knowledge_design.html">Design</a></li>
        <li class="productcare"><a href="knowledge_product_care.html">Product Care</a></li>
        <li class="guaranteeservice"><a href="knowledge_guarantee_Service.html">Guarantee Service</a></li>
    </ul>

    <table width="1024" height="2164" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td colspan="3">
                <img src="images/knowledge/knowledge_diamond_01.jpg" width="1024" height="124" alt=""></td>
        </tr>
        <tr>
            <td colspan="2">
                <img src="images/knowledge/knowledge_diamond_02.jpg" width="513" height="194" alt=""></td>
            <td>
                <img src="images/knowledge/knowledge_diamond_03.jpg" width="511" height="194" alt=""></td>
        </tr>
        <tr>
            <td colspan="2">
                <img src="images/knowledge/knowledge_diamond_04.jpg" width="513" height="126" alt=""></td>
            <td>
                <img src="images/knowledge/knowledge_diamond_05.jpg" width="511" height="126" alt=""></td>
        </tr>
        <tr>
            <td>
                <img src="images/knowledge/knowledge_diamond_06.jpg" width="512" height="138" alt=""></td>
            <td colspan="2">
                <img src="images/knowledge/knowledge_diamond_07.jpg" width="512" height="138" alt=""></td>
        </tr>
        <tr>
            <td colspan="3">
                <img src="images/knowledge/knowledge_diamond_08.jpg" width="1024" height="43" alt=""></td>
        </tr>
        <tr>
            <td colspan="3">
                <img src="images/knowledge/knowledge_diamond_09.jpg" width="1024" height="70" alt=""></td>
        </tr>
        <tr>
            <td colspan="3">
                <img src="images/knowledge/knowledge_diamond_10.png" width="1024" height="213" alt=""></td>
        </tr>
        <tr>
            <td colspan="3">
                <img src="images/knowledge/knowledge_diamond_11.png" width="1024" height="91" alt=""></td>
        </tr>
        <tr>
            <td colspan="3">
                <img src="images/knowledge/knowledge_diamond_12.png" width="1024" height="173" alt=""></td>
        </tr>
        <tr>
            <td colspan="3">
                <img src="images/knowledge/knowledge_diamond_13.jpg" width="1024" height="114" alt=""></td>
        </tr>
        <tr>
            <td colspan="3">
                <img src="images/knowledge/knowledge_diamond_14.png" width="1024" height="141" alt=""></td>
        </tr>
        <tr>
            <td colspan="3">
                <img src="images/knowledge/knowledge_diamond_15.png" width="1024" height="94" alt=""></td>
        </tr>
        <tr>
            <td colspan="3">
                <img src="images/knowledge/knowledge_diamond_16.png" width="1024" height="137" alt=""></td>
        </tr>
        <tr>
            <td colspan="3">
                <img src="images/knowledge/knowledge_diamond_17.png" width="1024" height="111" alt=""></td>
        </tr>
        <tr>
            <td colspan="3">
                <img src="images/knowledge/knowledge_diamond_18.png" width="1024" height="143" alt=""></td>
        </tr>
        <tr>
            <td>
                <img src="images/knowledge/knowledge_diamond_19.png" width="512" height="251" alt=""></td>
            <td colspan="2">
                <img src="images/knowledge/knowledge_diamond_20.png" width="512" height="251" alt=""></td>
        </tr>
        
    </table>

</div>