<% @on_knowledge = capture do %>on<% end %>

<% content_for :header_content do %>
  <link href="./css/knowledge.css" rel="stylesheet">
  <script src="./js/knowledge.js"></script>
<% end %>
<% content_for :breadcrumb_content do %>
  <a href="index.html">Home</a> &gt; <a href="knowledge_diamond.html">Knowledge</a>
<% end %>

<div class="content">

    <ul class="nav">
        <li class="diamond on"><a href="knowledge_diamond.html">Diamond</a></li>
        <li class="gradingreport"><a href="knowledge_gradingreport.html">Grading Report</a></li>
        <li class="design"><a href="knowledge_design.html">Design</a></li>
        <li class="productcare"><a href="knowledge_product_care.html">Product Care</a></li>
        <li class="guaranteeservice"><a href="knowledge_guarantee_Service.html">Guarantee Service</a></li>
    </ul>

    <table>
		<tr>
			<td><img src="./images/knowledge/diamond/diamond_01.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_02.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_03.jpg" width="204" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_04.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_05.jpg" width="205" height="106" alt=""></td>
		</tr>
		<tr>
			<td><img src="./images/knowledge/diamond/diamond_06.jpg" width="205" height="107" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_07.jpg" width="205" height="107" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_08.jpg" width="204" height="107" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_09.jpg" width="205" height="107" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_10.jpg" width="205" height="107" alt=""></td>
		</tr>
		<tr>
			<td><img src="./images/knowledge/diamond/diamond_11.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_12.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_13.jpg" width="204" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_14.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_15.jpg" width="205" height="106" alt=""></td>
		</tr>
		<tr>
			<td><img src="./images/knowledge/diamond/diamond_16.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_17.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_18.jpg" width="204" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_19.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_20.jpg" width="205" height="106" alt=""></td>
		</tr>
		<tr>
			<td><img src="./images/knowledge/diamond/diamond_21.jpg" width="205" height="107" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_22.jpg" width="205" height="107" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_23.jpg" width="204" height="107" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_24.jpg" width="205" height="107" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_25.jpg" width="205" height="107" alt=""></td>
		</tr>
		<tr>
			<td><img src="./images/knowledge/diamond/diamond_26.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_27.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_28.jpg" width="204" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_29.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_30.jpg" width="205" height="106" alt=""></td>
		</tr>
		<tr>
			<td><img src="./images/knowledge/diamond/diamond_31.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_32.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_33.jpg" width="204" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_34.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_35.jpg" width="205" height="106" alt=""></td>
		</tr>
		<tr>
			<td><img src="./images/knowledge/diamond/diamond_36.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_37.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_38.jpg" width="204" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_39.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_40.jpg" width="205" height="106" alt=""></td>
		</tr>
		<tr>
			<td><img src="./images/knowledge/diamond/diamond_41.jpg" width="205" height="107" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_42.jpg" width="205" height="107" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_43.jpg" width="204" height="107" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_44.jpg" width="205" height="107" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_45.jpg" width="205" height="107" alt=""></td>
		</tr>
		<tr>
			<td><img src="./images/knowledge/diamond/diamond_46.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_47.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_48.jpg" width="204" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_49.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_50.jpg" width="205" height="106" alt=""></td>
		</tr>
		<tr>
			<td><img src="./images/knowledge/diamond/diamond_51.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_52.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_53.jpg" width="204" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_54.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_55.jpg" width="205" height="106" alt=""></td>
		</tr>
		<tr>
			<td><img src="./images/knowledge/diamond/diamond_56.jpg" width="205" height="107" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_57.jpg" width="205" height="107" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_58.jpg" width="204" height="107" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_59.jpg" width="205" height="107" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_60.jpg" width="205" height="107" alt=""></td>
		</tr>
		<tr>
			<td><img src="./images/knowledge/diamond/diamond_61.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_62.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_63.jpg" width="204" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_64.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_65.jpg" width="205" height="106" alt=""></td>
		</tr>
		<tr>
			<td><img src="./images/knowledge/diamond/diamond_66.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_67.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_68.jpg" width="204" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_69.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_70.jpg" width="205" height="106" alt=""></td>
		</tr>
		<tr>
			<td><img src="./images/knowledge/diamond/diamond_71.jpg" width="205" height="107" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_72.jpg" width="205" height="107" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_73.jpg" width="204" height="107" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_74.jpg" width="205" height="107" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_75.jpg" width="205" height="107" alt=""></td>
		</tr>
		<tr>
			<td><img src="./images/knowledge/diamond/diamond_76.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_77.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_78.jpg" width="204" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_79.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_80.jpg" width="205" height="106" alt=""></td>
		</tr>
		<tr>
			<td><img src="./images/knowledge/diamond/diamond_81.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_82.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_83.jpg" width="204" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_84.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_85.jpg" width="205" height="106" alt=""></td>
		</tr>
		<tr>
			<td><img src="./images/knowledge/diamond/diamond_86.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_87.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_88.jpg" width="204" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_89.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_90.jpg" width="205" height="106" alt=""></td>
		</tr>
		<tr>
			<td><img src="./images/knowledge/diamond/diamond_91.jpg" width="205" height="107" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_92.jpg" width="205" height="107" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_93.jpg" width="204" height="107" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_94.jpg" width="205" height="107" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_95.jpg" width="205" height="107" alt=""></td>
		</tr>
		<tr>
			<td><img src="./images/knowledge/diamond/diamond_96.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_97.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_98.jpg" width="204" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_99.jpg" width="205" height="106" alt=""></td>
			<td><img src="./images/knowledge/diamond/diamond_100.jpg" width="205" height="106" alt=""></td>
		</tr>
	</table>

    <div id="gotop">top</div>
</div>