<% @on_wedding_list = capture do %>on<% end %>

<% content_for :header_content do %>
  <link href="./css/knowledge.css" rel="stylesheet">
<% end %>
<% content_for :breadcrumb_content do %>
  <a href="index.html">Home</a> &gt; <a href="knowledge_diamond.html">Knowledge</a>
<% end %>

<div class="content">

    <ul class="nav">
        <li class="diamond"><a href="knowledge_diamond.html">Diamond</a></li>
        <li class="gradingreport on"><a href="knowledge_gradingreport.html">Grading Report</a></li>
        <li class="design"><a href="knowledge_design.html">Design</a></li>
        <li class="productcare"><a href="knowledge_productcare.html">Product Care</a></li>
        <li class="guaranteeservice"><a href="knowledge_diamon.html">Guarantee Service</a></li>
    </ul>

    <table id="Table_01" width="1024" height="1057" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td>
					<img src="./images/knowledge/grading_report/grading_report_01.jpg" width="1024" height="35" alt=""></td>
			</tr>
			<tr>
				<td>
					<img src="./images/knowledge/grading_report/grading_report_02.jpg" width="1024" height="35" alt=""></td>
			</tr>
			<tr>
				<td>
					<img src="./images/knowledge/grading_report/grading_report_03.jpg" width="1024" height="36" alt=""></td>
			</tr>
			<tr>
				<td>
					<img src="./images/knowledge/grading_report/grading_report_04.jpg" width="1024" height="35" alt=""></td>
			</tr>
			<tr>
				<td>
					<img src="./images/knowledge/grading_report/grading_report_05.jpg" width="1024" height="35" alt=""></td>
			</tr>
			<tr>
				<td>
					<img src="./images/knowledge/grading_report/grading_report_06.jpg" width="1024" height="35" alt=""></td>
			</tr>
			<tr>
				<td>
					<img src="./images/knowledge/grading_report/grading_report_07.jpg" width="1024" height="36" alt=""></td>
			</tr>
			<tr>
				<td>
					<img src="./images/knowledge/grading_report/grading_report_08.jpg" width="1024" height="35" alt=""></td>
			</tr>
			<tr>
				<td>
					<img src="./images/knowledge/grading_report/grading_report_09.jpg" width="1024" height="35" alt=""></td>
			</tr>
			<tr>
				<td>
					<img src="./images/knowledge/grading_report/grading_report_10.jpg" width="1024" height="35" alt=""></td>
			</tr>
			<tr>
				<td>
					<img src="./images/knowledge/grading_report/grading_report_11.jpg" width="1024" height="36" alt=""></td>
			</tr>
			<tr>
				<td>
					<img src="./images/knowledge/grading_report/grading_report_12.jpg" width="1024" height="35" alt=""></td>
			</tr>
			<tr>
				<td>
					<img src="./images/knowledge/grading_report/grading_report_13.jpg" width="1024" height="35" alt=""></td>
			</tr>
			<tr>
				<td>
					<img src="./images/knowledge/grading_report/grading_report_14.jpg" width="1024" height="35" alt=""></td>
			</tr>
			<tr>
				<td>
					<img src="./images/knowledge/grading_report/grading_report_15.jpg" width="1024" height="36" alt=""></td>
			</tr>
			<tr>
				<td>
					<img src="./images/knowledge/grading_report/grading_report_16.jpg" width="1024" height="35" alt=""></td>
			</tr>
			<tr>
				<td>
					<img src="./images/knowledge/grading_report/grading_report_17.jpg" width="1024" height="35" alt=""></td>
			</tr>
			<tr>
				<td>
					<img src="./images/knowledge/grading_report/grading_report_18.jpg" width="1024" height="35" alt=""></td>
			</tr>
			<tr>
				<td>
					<img src="./images/knowledge/grading_report/grading_report_19.jpg" width="1024" height="35" alt=""></td>
			</tr>
			<tr>
				<td>
					<img src="./images/knowledge/grading_report/grading_report_20.jpg" width="1024" height="36" alt=""></td>
			</tr>
			<tr>
				<td>
					<img src="./images/knowledge/grading_report/grading_report_21.jpg" width="1024" height="35" alt=""></td>
			</tr>
			<tr>
				<td>
					<img src="./images/knowledge/grading_report/grading_report_22.jpg" width="1024" height="35" alt=""></td>
			</tr>
			<tr>
				<td>
					<img src="./images/knowledge/grading_report/grading_report_23.jpg" width="1024" height="35" alt=""></td>
			</tr>
			<tr>
				<td>
					<img src="./images/knowledge/grading_report/grading_report_24.jpg" width="1024" height="36" alt=""></td>
			</tr>
			<tr>
				<td>
					<img src="./images/knowledge/grading_report/grading_report_25.jpg" width="1024" height="35" alt=""></td>
			</tr>
			<tr>
				<td>
					<img src="./images/knowledge/grading_report/grading_report_26.jpg" width="1024" height="35" alt=""></td>
			</tr>
			<tr>
				<td>
					<img src="./images/knowledge/grading_report/grading_report_27.jpg" width="1024" height="35" alt=""></td>
			</tr>
			<tr>
				<td>
					<img src="./images/knowledge/grading_report/grading_report_28.jpg" width="1024" height="36" alt=""></td>
			</tr>
			<tr>
				<td>
					<img src="./images/knowledge/grading_report/grading_report_29.jpg" width="1024" height="35" alt=""></td>
			</tr>
			<tr>
				<td>
					<img src="./images/knowledge/grading_report/grading_report_30.jpg" width="1024" height="35" alt=""></td>
			</tr>
		</table>

</div>