<% @on_locations = capture do %>on<% end %>

<% content_for :header_content do %>
  <link href="./css/locations.css" rel="stylesheet">
  <script src="./js/locations.js"></script>
<% end %>
<% content_for :breadcrumb_content do %>
  <a href="index.html">Home</a> &gt; <a href="locations.html">Locations</a>
<% end %>

<div class="span7 content">

	<img src="./images/location/visual_banciao.jpg" class="visual" />

	<span class="storename">Mega City 板橋大遠百店3F</span>

	<ul class="information">
		<li class="span3"><strong>電話:</strong>02-2958-8338</li>
		<li class="span3"><strong>傳真:</strong>02-2958-8338</li>
		<li class="span6"><strong>地址:</strong>新北市板橋區新站路28號3F專櫃</li>
		<li><strong>備註:</strong>週一~週五:11:00~22:00 週六:11:00~22:30 例假日:10:30~22:00</li>
	</ul>

</div>

<div class="span5 storelist">

	<ul>
		<li>台北市
			<ul>
				<li class="on"><a href="#">台北市　太平洋崇光百貨忠孝館4F</a></li>
				<li><a href="#">台北市　太平洋崇光百貨天母店3F</a></li>
				<li><a href="#">台北市　天母大葉高島屋百貨1F</a></li>
				<li><a href="#">台北市　新光三越百貨站前店5F</a></li>
			</ul>
		</li>
		<li>新北市
			<ul>
				<li><a href="#">新北市　Mega City 板橋大遠百3F</a></li>
			</ul>
		</li>
		<li>桃園縣
			<ul>
				<li><a href="#">桃園縣　太平洋崇光百貨中壢元化館4F</a></li>
			</ul>
		</li>
		<li>新竹市
			<ul>
				<li><a href="#">新竹市　太平洋崇光百貨新竹站前店4F</a></li>
				<li><a href="#">新竹市　遠東SOGO新竹Big City店2F</a></li>
				<li><a href="#">新竹市　FE21 新竹大遠百2F</a></li>
			</ul>
		</li>
		<li>屏東市
			<ul>
				<li><a href="#">屏東市　太平洋百貨屏東店1F</a></li>
			</ul>
		</li>
	</ul>

</div>

<div class="map">
	<img src="./images/location/map.png" alt="Map" />
</div>