<% @on_news = capture do %>on<% end %>

<% content_for :header_content do %>
  <link href="./css/news.css" rel="stylesheet">
<% end %>
<% content_for :breadcrumb_content do %>
  <a href="index.html">Home</a> &gt; <a href="news.html">News</a>
<% end %>

<div class="span12 content">

	<div class="item">
		<img class="thumb" src="./images/news/list_thumb1.jpg" />

		<article>
			<time datetime="2013-03-18">2013 / 03 / 18 </time>
			<p>法蝶Papillon Jewelry 新品發表走秀 No.2</p>

			<span class="more"><a href="news_detail.html">more</a></span>
		</article>

		<div class="ribbon"><img src="./images/news/ribbon.png" /></div>
	</div>

	<div class="item">
		<img class="thumb" src="./images/news/list_thumb2.jpg" />

		<article>
			<time datetime="2013-03-18">2013 / 03 / 18 </time>
			<p>法蝶Papillon Jewelry 新品發表走秀 No.2</p>

			<span class="more"><a href="news_detail.html">more</a></span>
		</article>

		<div class="ribbon"><img src="./images/news/ribbon.png" /></div>
	</div>

	<div class="item">
		<img class="thumb" src="./images/news/list_thumb3.jpg" />

		<article>
			<time datetime="2013-03-18">2013 / 03 / 18 </time>
			<p>法蝶Papillon Jewelry 新品發表走秀 No.2</p>

			<span class="more"><a href="news_detail.html">more</a></span>
		</article>

		<div class="ribbon"><img src="./images/news/ribbon.png" /></div>
	</div>

	<div class="item">
		<img class="thumb" src="./images/news/list_thumb4.jpg" />

		<article>
			<time datetime="2013-03-18">2013 / 03 / 18 </time>
			<p>法蝶Papillon Jewelry 新品發表走秀 No.2</p>


			<span class="more"><a href="news_detail.html">more</a></span>
		</article>
	</div>

	<div class="item">
		<img class="thumb" src="./images/news/list_thumb5.jpg" />

		<article>
			<time datetime="2013-03-18">2013 / 03 / 18 </time>
			<p>法蝶Papillon Jewelry 新品發表走秀 No.2</p>

			<span class="more"><a href="news_detail.html">more</a></span>
		</article>
	</div>

	<div class="item">
		<img class="thumb" src="./images/news/list_thumb6.jpg" />

		<article>
			<time datetime="2013-03-18">2013 / 03 / 18 </time>
			<p>法蝶Papillon Jewelry 新品發表走秀 No.2</p>

			<span class="more"><a href="news_detail.html">more</a></span>
		</article>
	</div>

</div>


<ul class="pager">
    <li><a href="#">上一頁</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li class="on"><a href="#">5</a></li>
    <li><a href="#">6</a></li>
    <li><a href="#">...</a></li>
    <li><a href="#">下一頁</a></li>
</ul>