<% @on_news = capture do %>on<% end %>

<% content_for :header_content do %>
  <link href="./css/news_detail.css" rel="stylesheet">
  <script src="./js/news_imageViewer.js"></script>
<% end %>
<% content_for :breadcrumb_content do %>
  <a href="index.html">Home</a> &gt; <a href="news.html">News</a>
<% end %>

<div class="span6 images">

	<div class="viewer">
		<div class="view"><img src="./images/news/viewer_large1.jpg" /></div>

		<ul class="thumbs">
			<li><a href="./images/news/viewer_large1.jpg"><img src="./images/news/viewer_large1.jpg" /></a><div class="focus"></div></li>
			<li><a href="./images/news/viewer_large2.jpg"><img src="./images/news/viewer_large2.jpg" /></a></li>
			<li><a href="./images/news/viewer_large3.jpg"><img src="./images/news/viewer_large3.jpg" /></a></li>
			<li><a href="./images/news/viewer_large4.jpg"><img src="./images/news/viewer_large4.jpg" /></a></li>
		</ul>
	</div>

</div>

<div class="content">

	<article>
		<time datetime="2013-03-18">2013/03/18</time>
		<h1>法蝶Papillon Jewelry 粉絲團抽獎活動法蝶</h1>

		<hr />

		<!-- TODO: 更換 data-href 為本頁網址 -->
		<div class="fb-like" data-href="http://developers.facebook.com/docs/reference/plugins/like" data-width="450" data-show-faces="true" data-send="true"></div>

		<p style="text-align: center;"><iframe width="375" height="251" src="//www.youtube.com/embed/2xE0nfhVy3Q?rel=0" frameborder="0" allowfullscreen></iframe></p>

		<p>法蝶珠寶設計師的浪漫設計理念，是將中間單一美鑽視為花朵中間的雌蕊，一如女人的愛在心中盛開，而在外圍層層包覆的三片花瓣則是雄蕊，在愛情中意味著男人將女人一生一世捧在手心上，細心的呵護她一輩子!</p>
	</article>

	<ul class="controls">
		<li class="back"><a href="#">買法蝶美鑽刷萬泰卡，享好禮</a></li>
		<li class="list"><a href="news.html">List</a></li>
		<li class="next"><a href="#">珠寶與彩妝的相遇ENCOUNTERING</a></li>
	</ul>

</div>