<% @on_story = capture do %>on<% end %>

<% content_for :header_content do %>
  <link href="./css/story.css" rel="stylesheet">
<% end %>

<% content_for :breadcrumb_content do %>
  <a href="index.html">Home</a> &gt; <a href="story.html">Story</a>
<% end %>

<div class="story">
    <table>
        <tr>
            <td><img src="./images/story/story_01.jpg" width="192" height="27" alt=""></td>
            <td><img src="./images/story/story_02.jpg" width="192" height="27" alt=""></td>
            <td><img src="./images/story/story_03.jpg" width="193" height="27" alt=""></td>
            <td><img src="./images/story/story_04.jpg" width="192" height="27" alt=""></td>
            <td><img src="./images/story/story_05.jpg" width="192" height="27" alt=""></td>
        </tr>
        <tr>
            <td><img src="./images/story/story_06.jpg" width="192" height="27" alt=""></td>
            <td><img src="./images/story/story_07.jpg" width="192" height="27" alt=""></td>
            <td><img src="./images/story/story_08.jpg" width="193" height="27" alt=""></td>
            <td><img src="./images/story/story_09.jpg" width="192" height="27" alt=""></td>
            <td><img src="./images/story/story_10.jpg" width="192" height="27" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_11.jpg" width="961" height="26" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_12.jpg" width="961" height="27" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_13.jpg" width="961" height="27" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_14.jpg" width="961" height="27" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_15.jpg" width="961" height="26" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_16.jpg" width="961" height="27" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_17.jpg" width="961" height="27" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_18.jpg" width="961" height="27" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_19.jpg" width="961" height="26" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_20.jpg" width="961" height="27" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_21.jpg" width="961" height="27" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_22.jpg" width="961" height="27" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_23.jpg" width="961" height="26" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_24.jpg" width="961" height="27" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_25.jpg" width="961" height="27" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_26.jpg" width="961" height="27" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_27.jpg" width="961" height="26" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_28.jpg" width="961" height="27" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_29.jpg" width="961" height="27" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_30.jpg" width="961" height="27" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_31.jpg" width="961" height="26" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_32.jpg" width="961" height="27" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_33.jpg" width="961" height="27" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_34.jpg" width="961" height="27" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_35.jpg" width="961" height="27" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_36.jpg" width="961" height="26" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_37.jpg" width="961" height="27" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_38.jpg" width="961" height="27" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_39.jpg" width="961" height="27" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_40.jpg" width="961" height="26" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_41.jpg" width="961" height="27" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_42.jpg" width="961" height="27" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_43.jpg" width="961" height="27" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_44.jpg" width="961" height="26" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_45.jpg" width="961" height="27" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_46.jpg" width="961" height="27" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_47.jpg" width="961" height="27" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_48.jpg" width="961" height="26" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_49.jpg" width="961" height="27" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_50.jpg" width="961" height="27" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_51.jpg" width="961" height="27" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_52.jpg" width="961" height="26" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_53.jpg" width="961" height="27" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_54.jpg" width="961" height="27" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_55.jpg" width="961" height="27" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_56.jpg" width="961" height="26" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_57.jpg" width="961" height="27" alt=""></td>
        </tr>
        <tr>
            <td colspan="5"><img src="./images/story/story_58.jpg" width="961" height="27" alt=""></td>
        </tr>
    </table>
</div>